@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
body {
  background-color: #5557aa;
  color: white;
}

#bordure {
  border: 1px dashed white;
  height: 400px;
  width: 35%;
  margin-top: 10%;
  margin-left: 32%;
  text-align: center;
}

.icon {
  margin-top: 16%;
  color: white;
  font-size: 5em;
}
header,
span {
  font-family: Poppins;
}

input[type="file"] {
  display: none;
}

.custom-file-upload {
  border: 1px solid #ccc;
  background-color: white;
  color: black;
  display: inline-block;
  padding: 6px 12px;
  
  cursor: pointer;
}
